<header title="{one:'方案库列表'}"></header>
<div class="main-body mt10">
    <section class="clearfix">
        <div class="col-xs-3" >
            <div class="thumbnail text-center">
                <img  src="images/activity/event_a.png" class="img-responsive wd"/>
                <div class="act-cont">
                    <h3>满减</h3>
                    <div class="note-padding">惠民活动开始了，快来开始买吧</div>
                </div>
                <p>
                    <button type="button" class="btn-cancle" role="button" ng-click="$ctrl.creatActivity()">创建</button>
                </p>
            </div>
        </div>
    </section>
</div>
