<div class="head">
    <div class="head-box clearfix">
        <div class="pull-left">
            <img src="images/small-login.png" class="img-responsive head-log" alt="Responsive image">
        </div>
        <div class="pull-left head-menu" ng-click="$ctrl.myDish()">
            我的菜品
        </div>
        <div class="pull-left head-menu" ng-click="$ctrl.myOrder()">我的订单
        </div>
        <div class="pull-left head-menu" ng-click="$ctrl.myAct()">
            优惠活动
        </div>
        <div class="pull-left head-menu" ng-click="$ctrl.myNews()">
            新闻公告
        </div>
        <div class="pull-left head-menu" ng-click="$ctrl.myShop()">
            关于我们
        </div>
        <div class="pull-left head-menu" style="color:red" ng-click="$ctrl.exit()">
            退出
        </div>
    </div>
</div>